:root {
    --primary-color-blue: #0032A0;
    --primary-color-red: #BF0D3E;
    --primary-color-white: #FAFAFA;
    --primary-color-yellow: #FED141;
    --color-dgray:#212427;
}

*, ::before, ::after {
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

html {
    font-size: 62.5%;
}

body {
  font-family: "Hind", serif;
}

header {
    background-color: var(--primary-color-yellow);
    padding: 1rem;
    padding-left: 3rem;
    width: 100vw;
    height: clamp(10em, 10vh, 16em);
    position:sticky;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
}

.icon {
    object-fit: contain;
    width: 5em;
}


h1 {
    font-size: 3em;
}

h3, h2 {
    text-align: center;
}

h3 {
    font-size: 1.6em;
}

.logo {
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--primary-color-blue);
}

.title {
    border: 1px solid black;
    padding: 2em;
}

form {
    display: flex;
    justify-content: center;
}

.blue {
    background-color: #9CC2C4;
}

.green {
    background-color: #D9E7CF;
}

.selections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 5em;
    border: 1px solid black;
}

.senators {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(17,1fr);
    grid-auto-flow: column;
}

.boardMember {
    grid-template-rows: repeat(3,1fr);
    grid-auto-flow: column;
}

.sb {
    grid-template-rows: repeat(7,1fr);
    grid-auto-flow: column;
}

.partyList {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(39,1fr);
    grid-auto-flow: column;
}

.cell {
    font-weight: 600;
    font-size: clamp(1em, 3vw, 1.3em);
    display: flex;
    gap:1em;
    align-items: center;
    align-self: center;
    border: 1px solid black;
    padding: 5px;
    height: 100%;
    width: 100%;
    text-align: left;
}

.cell label {
    cursor: pointer;
}

main {
    padding-top: 5rem;
    text-align: center;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3em auto 3em auto;
    padding: 3vw;
    background-color: var(--primary-color-white);
}

.category {
    display: flex;
    flex-direction: column;
}

footer {
    width:100%;
    height:clamp(2rem, 12vh, 8rem);
    display:flex;
    background-color:var(--color-dgray);
}

footer p {
    width:100%;
  font-size: clamp(1.6rem, 2vw, 2.5rem);
  text-align:right;
  color:var(--primary-color-white);
  margin: auto 3rem;
}

.save {
    width: 15rem;
    font-size: 2rem;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    background-color: #265ed6;
    color: var(--primary-color-white);
    border-radius: 5px;
    border: none;
    transition-duration: 0.4s;
}

.save:hover {
    background-color: #0804e0;
    color: #ffffff;
}

.save:active {
    background-color: #0804e0;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

input {
    cursor: pointer;
}

.message {
    width: 100%;
    height: 10vh;
    padding: 1.5rem;
    position: fixed;
    left:0;
    top:10;
    z-index: 11;
    font-size: 3rem;
    background-color: rgba(0, 128, 0, 0.849);
    color: black;
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  html {
    font-size: 60%;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  html {
    font-size: 58%;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  html {
    font-size: 55%;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  .selections {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .senators {
    grid-template-rows: repeat(22, 1fr);
  }

  .partyList {
    grid-template-rows: repeat(60, 1fr);
  }

  html {
    font-size: 50%;
  }

  #contact-links {
    flex-direction:column;
  }

  #contact-links a {
    text-align:left;
  }
}


